@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Em construção</h1>
    <p>Learn about <a href="https://github.com/AnnaKarenG/Controle-Financeiro">Acesse nosso repositório</a>.</p>
</div>
