<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar-se</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        * {
            margin: 0;
            padding: 10px;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #32bea6;
        }

        .container {
            position: relative;
            max-width: 600px;
            width: 100%;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 0 1px;
        }

            .container .forms {
                display: flex;
                align-items: center;
                height: 650px;
                width: 200%;
                transition: height 0.2s ease;
            }

            .container .form {
                width: 50%;
                padding: 30px;
                background-color: #fff;
                transition: margin-left 0.18s ease;
            }

            .container.active .login {
                margin-left: -50%;
                opacity: 0;
                transition: margin-left 0.18s ease, opacity 0.15s ease;
            }

            .container .signup {
                opacity: 0;
                transition: opacity 0.09s ease;
            }

            .container.active .signup {
                opacity: 1;
                transition: opacity 0.2s ease;
            }

            .container.active .forms {
                height: 600px;
            }

            .container .form .title {
                position: relative;
                font-size: 27px;
                font-weight: 600;
            }

        .form .title::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            background-color: #32bea6;
            border-radius: 25px;
        }

        .form .input-field {
            position: relative;
            height: 50px;
            width: 100%;
            margin-top: 30px;
        }

        .input-field input[type="text"],
        .input-field input[type="url"],
        .input-field input[type="password"],
        .input-field input[type="file"] {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 0 35px;
            border: none;
            outline: none;
            font-size: 16px;
            border-bottom: 2px solid #ccc;
            border-top: 2px solid transparent;
            transition: all 0.2s ease;
        }

        .input-field input:is(:focus, :valid) {
            border-bottom-color: #32bea6;
            background-color: #32bea6
        }

        .input-field i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #999;
            font-size: 23px;
            transition: all 0.2s ease;
        }

        .input-field input:is(:focus, :valid) ~ i {
            color: #32bea6;
        }

        .input-field i.icon {
            left: 0;
        }

        .input-field i.showHidePw {
            right: 0;
            cursor: pointer;
            padding: 10px;
        }

        .form .checkbox-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }

        .checkbox-text .checkbox-content {
            display: flex;
            align-items: center;
        }

        .checkbox-content input {
            margin-right: 10px;
            accent-color: #32bea6;
        }

        .form .text {
            color: #333;
            font-size: 14px;
        }

        .form a.text {
            color: #32bea6;
            text-decoration: none;
        }

        .form a:hover {
            text-decoration: underline;
        }

        .form .button {
            margin-top: 35px;
        }

            .form .button input[type="submit"] {
                border: none;
                color: #ffffff;
                font-size: 17px;
                font-weight: 500;
                letter-spacing: 1px;
                border-radius: 6px;
                background-color: #32bea6;
                cursor: pointer;
                transition: all 0.3s ease;
                padding: 10px 15px;
            }

        .button input[type="submit"]:hover {
            background-color: #32bea6;
        }

        .form .login-signup {
            margin-top: 30px;
            text-align: center;
        }

        /* Styles for displaying images side by side */
        .image-preview-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

            .image-preview-container img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-right: 10px;
                cursor: pointer;
            }
    </style>
</head>

<body>
    <div class="container">
        <div class="forms">
            <form class="form login" method="post" action="https://localhost:44313/User/ToAddUser" enctype="multipart/form-data">
                <h2 class="title">Cadastro</h2>
                <div class="input-field">
                    <input type="text" name="name" placeholder="Adicione o seu nome" required>
                    <i class="uil uil-user"></i>
                </div>
                <div class="input-field">
                    <input type="text" name="email" placeholder="Adicione o seu email" required>
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" name="password" class="password" placeholder="Crie a sua senha" required>
                    <i class="uil uil-lock icon"></i>
                </div>
                <div class="input-field">
                    <div class="image-preview-container">
                        <img src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-avatar_188544-4755.jpg" onclick="selectImage(this.src)">
                        <img src="https://img.freepik.com/icones-gratis/do-utilizador_318-644324.jpg" onclick="selectImage(this.src)">
                        <img src="https://img.freepik.com/free-icon/user_318-180888.jpg" onclick="selectImage(this.src)">
                    </div>
                    <input type="hidden" name="avatar" id="avatarInput">
                </div>
                <div class="input-field button">
                    <input type="submit" value="Cadastrar">
                </div>
            </form>
        </div>
    </div>

    <script>
        function selectImage(src) {
            var avatarInput = document.getElementById('avatarInput');
            avatarInput.value = src;
        }
    </script>
</body>
</html>
