@model Card

@{
   ViewData["Title"] = "Adicionar Cartão";
} 

<div class="text-center">
    <h3>Adicionar Cartão</h3>
</div>

<form  method="post" action="https://localhost:44313/Card/ToAddCard">

    <div class="form-group">
        <label for="número do cartão">Número do cartão</label>

        <input type="text" asp-for="NumberCard" class="form-control" placeholder="digite o número do cartão">

        <label for="tipo do cartão">Tipo do cartão</label>

        <input type="text" asp-for="type" class="form-control" placeholder="tipo do cartão">

        <label for="Valor em conta corrente do cartão">Valor em conta corrente do cartão</label>

        <input type="text" asp-for="Balance" class="form-control" placeholder="digite o valor em conta corrente do cartão">

        <label for="limite do cartão">Limite do cartão</label>

        <input type="text" asp-for="Limite" class="form-control" placeholder="digite o limite do cartão">
        
        <label for="valor da fatura do cartão">Valor da Fatura do cartão</label>

        <input type="text" asp-for="InvoiceAmount" class="form-control" placeholder="digite o valor da fatura do cartão">

        <label for="data da fatura do cartão">Data da Fatura do cartão</label>

        <input type="date" asp-for="InvoiceDate" class="form-control" placeholder="digite a data da fatura do cartão">
        
        <label for="bandeira do cartão">Bandeira do cartão</label>

        <input type="text" asp-for="Flag" class="form-control" placeholder="informe a bandeira do cartão">

        <label for="usuário do cartão">Usuário do cartão</label>

        <input type="text" asp-for="UserId" class="form-control" placeholder="informe o usuário do cartão">

        <small class="form-text text-muted">Lembre-se de adicionar um cartão que ainda não possui registro.</small>
    </div>

    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a role="button" class="btn btn-secondary" asp-controller="Card" asp-action="Index">Voltar</a>

</form>