@model Revenue
@{
    ViewData["Title"] = "Edição de Receita";
}

<div class="text-center">
    <h3>Editar Receita</h3>
</div>

<form method="post" action="https://localhost:44313/Revenue/ChangeRevenue">
    
    <input type="hidden" asp-for="RevenueId"/>
    <div class="form-group">

        <label for="valor da receita">Valor da Receita</label>

        <input type="text" asp-for="Value" class="form-control" placeholder="digite o valor da receita">

        <label for="usuário da receita">Usuário da Receita</label>

        <input type="text" asp-for="UserId" class="form-control" placeholder="digite o usuário da receita">

        <label for="data da receita">Data da Receita</label>

        <input type="date" asp-for="Date" class="form-control" placeholder="digite a data da receita">


        <small class="form-text text-muted">Lembre-se de adicionar uma receita que ainda não possui registro.</small>

    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a role="button" class="btn btn-secondary" asp-controller="Revenue" asp-action="Index">Voltar</a>

</form>

